@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Titillium+Web');

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Oswald', sans-serif;
}

#body-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
}
.fade-in {
  opacity: 1;
  animation: animFadeIn 1s ease;
}

.slider {
  width: 300%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  transition: transform ease .5s;
  position: relative;
}

.indicator-wrapper {
  position: fixed;
  width: 10px;
  height: 100%;
  left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .indicator-item {
    width: 10px;
    height: 30px;
    border-radius: 4px;
    opacity: .5;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px white solid;
    transition: all ease .5s;
  }
  .indicator-item-highlight {
    background-color: white;
  }

.card-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  user-select: none;
  position: relative;
}
  .card {
    width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-info {
    height: 500px;
    padding: 25px 25px 10px 25px;
    position: relative;
  }
    .info-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
      .brand-logo {
        width: 15%;
        height: auto;
      }
      .product-price {
        font-size: 2rem;
        font-weight: bold;
      }
    .product-name {
      text-transform: uppercase;
    }
    .product-description {
      font-family: 'Titillium Web', sans-serif;
    }
    .product-watermark {

    }
    .product-img {
      width: 120%;
      height: auto;
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

  .card-footer {

  }
    .btn-wishlist {

    }
    .product-class {

    }

.class-watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: rgba(0, 0, 0, .2);
  font-size: 500px;
  font-weight: bold;
  z-index: -1;
}

@keyframes animFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}